import streamlit as st
import streamlit_authenticator as stauth

names = ["Rom"]
usernames = ["romtaug"]
passwords = ["motdepassefort"]

hashed_passwords = stauth.Hasher().hash(passwords)

credentials = {
    "usernames": {
        usernames[0]: {
            "name": names[0],
            "password": hashed_passwords[0]
        }
    }
}

authenticator = stauth.Authenticate(
    credentials,
    "app_cookie",
    "une_cle_secrete_tres_longue",
    cookie_expiry_days=30,
)

name, authentication_status, username = authenticator.login("Login", "main")

if authentication_status is False:
    st.error("Identifiant incorrect")
elif authentication_status is None:
    st.warning("Veuillez vous connecter")
else:
    authenticator.logout("Logout", "sidebar")
    st.title(f"Bonjour {name} 👋")
    st.write("✅ Accès autorisé")
